body {
  margin: 0;
  background-color: rgba(247, 208, 236); /* 既存の色（半透明） */
  background-image: url("./image/CHAEWON/chaewon1.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}
